<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="navbar">
    <a href="#" class="logo">YourLogo</a>
    <div class="headline">Latest News</div>
    <form action="/" method="POST" class="search-form">
      <input type="text" name="q" class="search-input" placeholder="Search for news">
      <input type="submit" value="Search">
    </form>
  </div>
  <div class="main-box">
    <% for (let article of articles) { %>
    <a href="<%= article.url %>">
      <div class="card">
        <img src="<%= article.urlToImage %>" alt="Article Image" onerror="this.src='https://about.fb.com/wp-content/uploads/2023/09/GettyImages-686732223.jpg';">
        <p>
          <% const date = new Date(article.publishedAt); %>
          <%= date.toISOString().slice(0, 10) %>
        </p>
        <h3 class="title"><%= article.title %></h3>
        <div class="para"><%= article.description %></div>
      </div>
    </a>
    <% } %>
  </div>
</body>

</html>
